<div id='cssmenu'>
  <ul>
    <li><%= link_to 'Home', admin_books_path  %> </li>
    <li><%= link_to 'Add New Book', new_admin_book_path %></li>

    <%if admin_signed_in? %>
      <%= link_to 'Logout', admin_logout_path, method: :delete %>
    <%else%> 
      <%= link_to 'Login', admin_login_path %>
      <% end %>
</div>
<br><br>